<% include ./partials/header %>



        <div class='container-fluid dokdo-hero'>
            <h1>Welcome to Dokdo Island's Website </h1>
        </div>

        <div class="container section intro-section">
            <h3>Dokdo?</h3>
            <div class="row">
                <div class="col-lg-4">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DpPcowIxKFQ?rel=0" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-8">
                    <p>
                        Dokdo, aka Liancourt Rocks or (lesser known Takeshima) is a small island between Korea and Japan on the East Sea. It is about
                        50 miles from South Korea, while it is approx 100 miles from the closest Japanese island. The total
                        area of the islets is about 187,450 square meters, with their highest point at 169 meters in the
                        western islet and on a clear weather can be viewed from the island of Ulleung-Do right off South
                        Korea. The western islet is about 88,640 square meters in area; the eastern islet about 73,300 square
                        meters.
                    </p>
                    <p>
                        This small island has been an integral part of Korea's history, with historical records in dating back to 6th century A.D
                        in the Shilla Dynasty and inhabiting it even before then. However, Korea's neighbor Japan also, claims
                        ownership of islands and has made a controversy of something that shouldn't be.


                    </p>
                </div>
            </div>

            <!-- What is Dokdo? -->
            <!-- Who is Dokdo? -->
            <!-- When was Dokdo? -->
            <!-- Where is Dokdo -->

        </div>


        <div class="container section image-menu-section">
            <h1>Card Menu</h1>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/images/독도9.jpg" alt="" class="card-img-top menu-cards">
                        <div class="card-title">
                            <h4>Geography</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/images/dokdo_kp_1.jpg" alt="" class="card-img-top menu-cards">
                        <div class="card-title">
                            <h4>History</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="assets/images/japan-demonstration-dokdo.jpg" alt="" class="card-img-top menu-cards">
                        <div class="card-title">
                            <h4>Controversies</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container section gallery-section" id="dokdo-img-section">
            <h4>Image Gallery</h4>
            <div class="row">
                <div class="col-lg-3">
                    <img  data-original="assets/images/high_res/hd_dokdo.png" src="assets/images/high_res/hd_dokdo.png" alt="" class="img-thumbnail">
                </div>
                <div class="col-lg-3">
                    <img data-original="assets/images/high_res/hd_dokdo1.jpg" src="assets/images/high_res/hd_dokdo1.jpg" alt="" class="img-thumbnail">
                </div>
                <div class="col-lg-3">
                    <img data-original="assets/images/high_res/hd_dokdo2.jpg" src="assets/images/high_res/hd_dokdo2.jpg" alt="" class="img-thumbnail">
                </div>
                <div class="col-lg-3">
                    <img data-original="assets/images/high_res/hd_dokdo3.jpg" src="assets/images/high_res/hd_dokdo3.jpg" alt="" class="img-thumbnail">
                </div>
                <div class="col-lg-3">
                    <img data-original="assets/images/high_res/hd_dokdo4.jpg" src="assets/images/high_res/hd_dokdo4.jpg" alt="" class="img-thumbnail">
                </div>
                <div class="col-lg-3">
                    <img data-original="assets/images/high_res/hd_dokdo5.jpg" src="assets/images/high_res/hd_dokdo5.jpg" alt="" class="img-thumbnail">
                </div>
                <div class="col-lg-3">
                    <img data-original="assets/images/high_res/hd_dokdo6.jpg" src="assets/images/high_res/hd_dokdo6.jpg" alt="" class="img-thumbnail">
                </div>
                <div class="col-lg-3">
                    <img data-original="assets/images/high_res/hd_dokdo7.jpg" src="assets/images/high_res/hd_dokdo7.jpg" alt="" class="img-thumbnail">
                </div>
                <div class="col-lg-3">
                    <img data-original="assets/images/high_res/hd_dokdo8.jpg" src="assets/images/high_res/hd_dokdo8.jpg" alt="" class="img-thumbnail">
                </div>
            </div>
        </div>


        <% include ./partials/footer %>