<% include ./partials/navbar %>
    <div class="container">
        <h1>100 days of Code</h1>

        <h4>Here I will list daily coding activities and note my strengths weakness opportunities and threats.</h4>

        <div class="container my-5">
            <h3>Day 1</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" style='width: 18rem'>
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUGULeW0Zmjx_mG7AR2OkTsRwzbVdbZo1JRaCEWz8m9NKx_lva"
                            alt="">
                        <div class="card-body">
                            <div class="card-title">My UCI BOOTCAMP experience</div>
                            <div class="card-text"> The program is mediocre. The curriculum is from 2016, not updating course content throughout
                                the year (or at least while I was there). Its a money making business. So... My experience
                                was definitely not worth the 12k so was the certificate worth that much? As for the program,
                                there are 2 TA's who tell you to GOOGLE all your questions and an instructor who is always
                                overwhelmed with 1 on 1, which I never got. I mean, I thought I paid that much to go there
                                so we Don't have to Google the stuff... Probably better to self-study if you have the discipline.
                                As for the career services its more for show than for substance imo. It does however get
                                you started and keep you motivated if you are not disciplined or procrastinate a lot. Also,
                                if you have no background in coding it will be too much information to you about a third
                                of class ended up dropping out.</div>
                            <a href="uci" class="btn btn-outline btn-secondary btn-sm">My Story</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="" alt="" class="card-img-top">
                        <div class="card-body">
                            <div class="card-body">
                                <div class="card-title">

                                </div>
                                <div class="card-text">
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>

        </div>
    </div>





    <% include ./partials/footer %>