<% include ./partials/navbar %>

    <h1>Why I started coding and where I'm at</h1>


    <h3>INTRO - WHO WHAT WHEN WHERE N WHY?????</h3>

    <div class="container">
        <h5>CHAPTER 1 - Life sucks</h5>
        <p>So, I used to be pretty well off, working as a quality assurance engineer at Mobis but I hated everything about it, the politics, the Koreans, incompetent people. Just couldn't bare the bull shit. 
            I have a house, a family who is supposed to be butt rich but has nothing... I am from a billionaire family yet I have nothing to back me up... Which i think is quite sad. Other families with similar situation don't do that. 
            I sometimes wish that I was never born to this family.  Who i still love but they are way too hooked on religion. Enough lamenting and I'll get to the point. 
        </p>
        <p>
            I quite my work, out of anger and found myself in a hole. I was lost, didn't know what to do... I first got some rest and travelled a bit, noticed the uselessness of friends and cut most of them off. 
            I got a half-assed job with zChaos Google ads rating which was pretty cool, but that wasn't enough, I wanted to grow stuff.. Well in the end I had invested over 10 grand into the project and it all went to SHIT!
            So growing didn't go well for me... I figured coding might be a good skill to catch up on and decided to learn code.

            All in all, I am either horrible with people or I just am not lucky with people because the most important lesson life has taught me so far is that people are stupid (including me) and its hard to find people who pass my smell test. 
        </p>
    </div>



    <% include ./partials/footer %>