<% include ./partials/navbar %>
    <h1>HELLO from UCI PAGE</h1>
    <div class="jumbotron">
        JAHJAH
    </div>
    <div class="container">
        <h1>My Experience</h1>
        <p>

        </p>
    </div>



    <% include ./partials/footer %>