.card-container {
    margin: 10px;
    height: 150px;
    min-width: 100px;
    width: 10%;
    background-color: grey;
    border: 6px solid grey;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-border-radius: 25px;
    display: inline-block
}